#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(80, 119, 247, 0.349), rgba(0, 0, 0, 0.01)),
    url(images/pic2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px 5px;
  opacity: 0.79;
}

.heading {
  display: flex;
  align-items: center;
  height: 380px;
  font-weight: 550;
  font-family: "Spartan", sans-serif;
}

/*    COPIED    */

.btn {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 220px;
  width: 210px;
  opacity: 1;
  background-color: #f5f6f8;
  border: 1px solid rgba(20, 78, 177, 0.6);
  box-shadow: 2px 2px 4px;
}

.btn span {
  color: #1955bd;
  font-size: 15px;
  font-weight: 580;
  letter-spacing: 0.7px;
}

.btn:hover {
  animation: rotate 0.7s ease-in-out both;
}

.btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%;
    height: 25%;
    box-shadow: 5px 8px 7px;
  }
  .heading {
    font-size: 20px;
  }
  .btn {
    width: 150px;
    height: 120px;
    box-shadow: 2px 2px 4px;
  }
  .btn span {
    font-size: 12px;
  }
}
